body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to right,pink,white);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background:linear-gradient(to right,lightgreen,lightgreen) ;
    color: black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 30px;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color:lightskyblue;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
   background:linear-gradient(to right,pink,white);
   color: black;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.hide {
    display: none;
}